@import "../styles/fonts";
@import "../styles/reset";
@import "../styles/variables";

@import "~webext-base-css/webext-base.css";

body {
  color: $black;
  background-color: $greyWhite;
}


#options {
  .error {
    color: #c12020;
    font-weight: bold;
  }
  .success {
    color: #069129;
    font-weight: bold;
  }
}
