@import "../styles/fonts";
@import "../styles/reset";
@import "../styles/variables";

body {
  color: $black;
  background-color: $greyWhite;
}


#visualization {
  min-width: 350px;
  padding: 30px 20px;

  h2 {
    font-size: 25px;
    text-align: center;
  }
}
